<div class="center">
  <h1>Profil d'utilisateur</h1>

  <form class="centerFlexCol" [formGroup]="form">
    <div class="centerFlexCol">
      <mat-form-field
        fxFlex
        appearance="outline"
        style="width: 300px !important"
      >
        <input
          matInput
          placeholder=""
          formControlName="name"
          value="{{ user?.name }}"
        />
      </mat-form-field>
      <mat-form-field
        fxFlex
        appearance="outline"
        style="width: 300px !important"
      >
        <input
          type="email"
          name="email"
          matInput
          formControlName="email"
          value="{{ user?.email }}"
        />
      </mat-form-field>
      <mat-form-field
        fxFlex
        appearance="outline"
        style="width: 300px !important"
        floatLabel="always"
      >
        <mat-label>Mot de passe</mat-label>
        <input
          type="password"
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          placeholder="Modification du mot de passe"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="submit()"
      >
        Enregistrer
      </button>
      <span *ngIf="onError" class="error">Une erreur est arrivée</span>
    </div>
  </form>
  <div class="centerFlexCol">
    <button mat-button color="warn" (click)="logout()">Se déconnecter</button>
  </div>
  <div class="subscribtions">
    <h1><b>Abonnements</b></h1>
    <app-topic-list [fromProfilePage]="true"></app-topic-list>
  </div>
</div>
