.topic-card {
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  padding: 5px;
  margin: auto;
  width: 30rem;
  height: auto;
}
.topic-content {
  justify-content: left; /*
  align-content: 15px;
  padding: 5px;*/
}

@media (max-width: 768px) {
  .topic-card {
    margin: 0;
    width: 100%;
  }
}
