@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --primary-color: black;
  --secondary-color: rgba(119, 99, 197, 1);
  --error-color: red;
}

html * {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

html,
body {
  height: 100%;
  margin: 0;
}

a {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

button {
  margin: 10px 0;
}

h1 {
  text-align: center;
  padding: 10px;
}

.container {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.center {
  margin: 10px auto;
  text-align: center;
}

.centerFlexCol {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.error {
  color: var(--error-color);
}

.icon {
  transform: scale(2);
}
